@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif !important;
}

.react-flow__handle-left {
  border-radius: 2px !important;
}
.react-flow__handle {
  width: 10px !important;
  height: 10px !important;
}
